body {
	display: grid;
	grid-template-rows: auto, 50px;
	grid-template-columns: auto;
}

.tile-image {
	transform: scale(0.6, 0.6);
	height: auto;
	animation: decrescendo 1.5s alternate ease-in;
}

.tile-image-selected {
	transform: scale(0.4, 0.4);
	border: 2px red solid;
	border-radius: 35px;
	animation: crescendo 1.5s alternate ease-in;
}

@keyframes crescendo {
	0% {
		transform: scale(0.6);
	}
	100% {
		transform: scale(0.4);
	}
}

@keyframes decrescendo {
	0% {
		transform: scale(0.4);
	}
	100% {
		transform: scale(0.6);
	}
}
