body {
	display: grid;
	grid-template-rows: auto, 50px;
	grid-template-columns: auto;
}

.tile-image {
	width: 50%;
	height: auto;
}

.tile-image-selected {
	width: 50%;
	height: auto;
	border: 2px red solid;
	border-radius: 30px;
}
