<app-image-selected
	[imageSelected]="imageSelected"
	(indexImageEvent)="newImageSelected($event)"
></app-image-selected>
<br />
<div class="containerImage">
	<mat-grid-list cols="4" rowHeight="2:1">
		<mat-grid-tile *ngFor="let image of imageGallery">
			<div *ngIf="image === imageSelected.uri">
				<img [src]="image" class="tile-image-selected" />
			</div>
			<div *ngIf="image !== imageSelected.uri">
				<img [src]="image" class="tile-image" />
			</div>
		</mat-grid-tile>
	</mat-grid-list>
</div>
<mat-paginator
	[length]="50"
	[pageSize]="imagePerPage"
	(page)="pageEvent = getImageEvent($event)"
></mat-paginator>
