<button
	mat-raised-button
	color="primary"
	routerLink="/dashboard"
	routerLinkActive="selected"
>
	Dashboard
</button>
<button
	mat-raised-button
	color="primary"
	routerLink="/gallery"
	routerLinkActive="selected"
>
	Galería
</button>
<button
	mat-raised-button
	color="primary"
	routerLink="/crud"
	routerLinkActive="selected"
>
	CRUD
</button>
<button
	mat-raised-button
	color="primary"
	routerLink="/profile"
	routerLinkActive="selected"
>
	Profile
</button>
<button mat-raised-button color="primary" (click)="logout()">
	Log Off
</button>

<label class="userId">User: {{ username }} </label>
