.containerImg {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.containerImg img {
  height: auto;
}

.left {
	margin-right: 10px;
}

.right {
	margin-left: 10px;
}
